# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/
.ruff_cache/

# Окружение и секреты
.env
*.pem
*.key

# Данные приложения
/storage/
/logs/
*.sqlite
*.db

# ОС / IDE
.DS_Store
.idea/
.vscode/
